<!DOCTYPE html>
<html lang="en" ng-app="idpc">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A web based tool for medical Canadian Interdisplinary Primary Care teams and researchers to improve their decision making regarding medical teams and treatment.">
		<meta name="author" content="">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="webtool.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<title>IDPC Web Tool</title>

		<script type="text/ng-template" id="layerOne.html">

				<div class="labels outcomes"></div>
				<div class="labels variables first" ng-repeat="variable in variables">
					<span class="label label-info">{{ variable }}</span>
				</div>

				<div class="labels outcomes header front"><span class="label label-warning"> {{ outcomes[0] }}</span></div>
				<div class="entries one" ng-repeat="study in studies" id="{{study.id}}" ng-if="$index < 5" ng-click="toLayerTwo(study.id)">
					<span class="studies">{{ study.study }}</span>
				</div>
				<div class="labels outcomes header front"><span class="label label-warning"> {{ outcomes[1] }}</span></div>
				<div class="entries one" ng-repeat="study in studies" ng-if="$index > 2">
					<span class="studies">{{ study.study }}</span>
				</div>
				<div class="labels outcomes header front"><span class="label label-warning"> {{ outcomes[2] }}</span></div>
				<div class="entries one" ng-repeat="study in studies" id="{{study.id}}" ng-if="$index < 5" ng-click="toLayerTwo(study.id)">
					<span class="studies">{{ study.study }}</span>
				</div>
				<div class="labels outcomes header front"><span class="label label-warning"> {{ outcomes[3] }}</span></div>
				<div class="entries one" ng-repeat="study in studies" id="{{study.id}}" ng-if="$index < 5" ng-click="toLayerTwo(study.id)">
					<span class="studies">{{ study.study }}</span>
				</div>
				<div class="labels outcomes header front"><span class="label label-warning"> {{ outcomes[4] }}</span></div>
				<div class="entries one" ng-repeat="study in studies" id="{{study.id}}" ng-if="$index < 5" ng-click="toLayerTwo(study.id)">
					<span class="studies">{{ study.study }}</span>
				</div>
				<div class="labels outcomes header front"><span class="label label-warning"> {{ outcomes[5] }}</span></div>
				<div class="entries one" ng-repeat="study in studies" id="{{study.id}}" ng-if="$index < 5" ng-click="toLayerTwo(study.id)">
					<span class="studies">{{ study.study }}</span>
				</div>
				<div class="labels outcomes header front"><span class="label label-warning"> {{ outcomes[6] }}</span></div>
				<div class="entries one" ng-repeat="study in studies" id="{{study.id}}" ng-if="$index < 5" ng-click="toLayerTwo(study.id)">
					<span class="studies">{{ study.study }}</span>
				</div>
		</script>

		<script type="text/ng-template" id="layerTwo.html">
		<div style="font-size: 2rem; color: red;" class="getBack" ng-click="toLayerOne()"><button class="btn btn-default btn-lg">Back</button></div><br>
				<div class="labels outcomes back"></div>
				<div class="labels variables second">
					<span class="label label-info">Clear Common Goals</span>
				</div>
				<div class="labels variables second">
					<span class="label label-info">Roles & Responsibilities</span>
				</div>
				<div class="labels variables second">
					<span class="label label-info">Process Guidelines</span>
				</div>

				<div class="labels outcomes header back"><span class="label label-warning"> Perception of Team</span></div>
				<div class="entries two" ng-repeat="study in studies" id="{{study.id}}" ng-if="$index < 3" data-toggle="modal" data-target="#ex1">
					<span class="studies">{{ study.study }}</span>
				</div>
				<div class="labels outcomes header back"><span class="label label-warning"> Functioning</span></div>
				<div class="entries two" ng-repeat="study in studies" ng-if="$index < 3">
					<span class="studies">{{ study.study }}</span>
				</div>
				<div class="labels outcomes header back"><span class="label label-warning"> Measured Team Functioning</span></div>
				<div class="entries two" ng-repeat="study in studies" id="{{study.id}}" ng-if="$index < 3" ng-click="toLayerTwo(study.id)">
					<span class="studies">{{ study.study }}</span>
				</div>

		<div id="ex1" class="modal fade" role="dialog">
	      <div class="modal-dialog modal-lg">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 class="modal-title">Example study</h4>
	          </div>
	          <div class="modal-body">
	            <p>
	            	Example
	            	<br >
	            	<br >
	            	<br >
	            	<br >
	            	<br >
	            	<br >
	            	<br >
	            	<br >
	            	<br >
	            	Text
	            	<br >
	            	<br >
	            	<br >
	            	<br >
	            	<br >
	            	<br >
	            	text
	            </p>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
	          </div>
	        </div>
	      </div>
    	</div>

		</script>
	</head>

	<body>
		<div id="header">
			
				<div id="navbar">
					<h2>IDPC WEB TOOL</h2>
				</div>
				<div class="intro">
					IDPC WEB TOOL
					<div class="description">
						A web based tool<br>
						for Primary Health Care Research Teams
					</div>
				</div>
				<div class="explore">
					<a id="click" class="btn btn-outline-light page-scroll-demo">EXPLORE</a>
				</div>
				<div class="overlay"></div>

		</div>

		<div id="wrapper">
			<!-- NOTE: Added temporarily. Need to be cleaned in the next steps -->
			<div id="search">
				<div class="btn-group" style="margin-right: 2rem">
				  <button type="button" class="btn btn-info btn-lg">Select to search</button>
				  <button type="button" class="btn btn-info dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				  	<li class="dropdown-header"><i class="fa fa-refresh" aria-hidden="true"></i> Team Process</li>
				    <li><a href="#"><i class="fa fa-street-view" aria-hidden="true"></i> Perception of Team Functioning</a></li>
				    <li><a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> Measured Team Functioning</a></li>
				    <li class="dropdown-header"><i class="fa fa-medkit" aria-hidden="true"></i> Diabetes Care</li>
				    <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Care Process</a></li>
				    <li><a href="#"><i class="fa fa-bed" aria-hidden="true"></i> Patient Outcomes</a></li>
				  </ul>
				</div>
				<!-- NOTE: Added temporarily. Need to be cleaned in the next steps -->
				<div class="btn-group" style="margin-right: 2rem">
				  <button type="button" class="btn btn-warning btn-lg">Select to search</button>
				  <button type="button" class="btn btn-warning dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				  	<li class="dropdown-header"><i class="fa fa-hospital-o" aria-hidden="true"></i> Policies and Procedures</li>
				    <li><a href="#"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Clear Common Goals</a></li>
				    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Roles and Responsibilities</a></li>
				    <li><a href="#"><i class="fa fa-map-signs" aria-hidden="true"></i> Process Guidelines</a></li>
				    <li class="dropdown-header"><i class="fa fa-users" aria-hidden="true"></i> Team Composition</li>
				    <li><a href="#"><i class="fa fa-fa fa-stethoscope" aria-hidden="true"></i> Add a Nurse</a></li>
				    <li><a href="#"><i class="fa fa-user-md" aria-hidden="true"></i> Add a Pharmacist</a></li>
				    <li><a href="#"><i class="fa fa-heartbeat" aria-hidden="true"></i> Add a Dietician</a></li>
				    <li class="dropdown-header"><i class="fa fa-dollar" aria-hidden="true"></i> Provider Remuneration</li>
				    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i> FFS to Physician</a></li>
				    <li><a href="#"><i class="fa fa-dollar" aria-hidden="true"></i> Salaries to All</a></li>
				    <li><a href="#"><i class="fa fa-pie-chart" aria-hidden="true"></i> Other Mixed Remuneration</a></li>
				  </ul>
				</div>
           		<button type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-search"></span> Search</button>
			</div>

			<!-- NOTE: Added temporarily. Need to be cleaned in the next steps -->

			<div id="layerOne" ng-controller="mainCtrl" ng-include="views.layerOne">
			</div>
			

		</div>

		<div id="footer">
			<p> Website &copy; Dominika Wranik</p>
		</div>

	</body>

	<script src="webtool.js"></script>


</html>